 body {
     background-color: hotpink;
     width: 1000px;
     height: 1000px;
 }

 @keyframes laowang {
     from {
         /* transform: rotate(0deg); */
         transform: translateX(0);
         /* top:0; */
     }
     to {
         /* transform: rotate(360deg); */
         transform: translateX(100px);
         /* top: 100px; */
     }
 }

 a {
     display: block;
     /* position:relative; */
     animation: laowang 1s infinite alternate;
 }